html{
  font-size: 20px;
}
header{
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
  width: 100%
  float: right;
}
body
{
background-color:#e5e5e5;
font-family:"Lato",sans-serif;
}
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
  font-size: 3vw;
  }
h3{
  background-color:#e5e5e5;
  padding:10px;
  text-align:center;
  font-size:2vw;
}
li{
  border: 1px solid #555;
}
li:last-child{
    border: 1px solid #555;
}
li a:hover {
    background-color: #555;
    color: white;
}
li.PortMenu{
  text-align: center;
  font-size=22px;
  height: 40px;
  padding:7px;
}
table {
    border-collapse: collapse;
    width: 80%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: auto;
}
td {
    height: 50px;
    text-align:left;
    padding: 15px;
}
th{
    height: 50px;
    text-align:center;
    padding: 5px;
    background-color: #38517A;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #b6afd1;}
.menu {
  height: 100%;
  width: 15%;
  float:left;
  position:relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
  padding-top: 10px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}
.menu a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 1vw;
}

.main {
  background-color:#e5e5e5;
  float:left;
  width:65%;
  padding:0 10px;
  text-align:center;
}
.main a{
  text-align:center;
  font-size:2.5vw;
  text-decoration: none;
}
.main a:hover {
    background-color: #555;
    color: white;
}
.form-main {
  background-color:#e5e5e5;
  float:left;
  width:42.5%;
  padding:0 10px;
  text-align:center;
}
.form-main input[type=submit] {
    padding:5px 15px;
    margin: auto;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.right {
  float: left;
  width: 20%;
  height: 100%
  background-color: #e5e5e5;
  padding: 10px;
  margin-top:1px;
  text-align:center;
}
.form-right {
  float: left;
  width: 42.5%;
  height: 100%
  background-color: #e5e5e5;
  padding: 10px;
  margin-top:1px;
  text-align:center;
}
.form-right li{
  border: 0;
}
.form-right li:last-child{
    border: 0;
}
.form-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.form-right input[type=submit] {
    padding:5px 15px;
    margin: auto;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  header{
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 7vw;
    color: white;
    width:100%
    float: right;
  }
  body
  {
  background-color:#e5e5e5;
  font-family:"Lato",sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  .menu {
    height: 100%;
    width: 100%;
    float:left;
    left: auto;
    background-color: #e5e5e5;
    padding-top: 10px;
  }
  .menu h1{
    text-align: center;
    font-size: 6.5vw;
    }
  .menu h3{
    background-color:#e5e5e5;
    padding:10px;
    text-align:center;
    font-size:5vw;
  }
  .menu a{
    text-align:center;
    font-size:7vw;
  }
  .menu ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }
  .menu li{
    border: 1px solid #555;
    font-size: 7vw;
  }
  .menu li:last-child{
      border: 1px solid #555;
  }
  .menu li a:hover {
      background-color: #555;
      color: white;
  }
  .menu a{
    display: block;
    color: #000;
    padding: 8px 16px;
    font-size: 5.5vw;
    text-decoration: none;
  }

  .main {
    background-color:#e5e5e5;
    float:left;
    width:100%;
    padding:0 10px;
    text-align:center;
    font-size: 7vw;
  }
  .main a{
    color: #000;
    padding: 8px 16px;
    font-size: 5.5vw;
    text-decoration: none;
  }
  .main h1{
    text-align: center;
    font-size: 6.5vw;
    }
  .main h3{
    background-color:#e5e5e5;
    padding:10px;
    text-align:center;
    font-size:6.5vw;
  }
    .form-main {
    background-color:#e5e5e5;
    float:left;
    width:100%;
    padding:0 10px;
    text-align:center;
    font-size: 7vw;
  }
  .form-main h3{
    background-color:#e5e5e5;
    padding:10px;
    text-align:center;
    font-size:6.5vw;
  }
  .right {
    float: left;
    width: 100%;
    height: 100%
    background-color: #e5e5e5;
    padding: 10px;
    margin-top:1px;
    text-align:center;
  }
  .form-right {
    float: left;
    width: 100%;
    height: 100%
    background-color: #e5e5e5;
    padding: 10px;
    margin-top:1px;
    text-align:center;
  }
}
